.icon {
    width: 40px;
}
.authors-footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.icon-stuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}