footer {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
.icon {
    width: 40px;
}
.authors-footer {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
    align-items: center;
}
.icon-stuff {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.each-dev {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 30px;
}
@media (max-width: 697px) { 
    .authors-footer{
        justify-content: space-around;
    }
}