@import url('https://fonts.googleapis.com/css2?family=Sansita:ital@1&display=swap');

.day-regimen {
    display:flex;
    margin-top: 40px;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Sansita', sans-serif; 
    border-top: 1rem #219ebc solid;
    padding: 10px;
}
.current-title {
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.day-to-day{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: row; */
    padding: 20px;
}