@import url('https://fonts.googleapis.com/css2?family=Sansita:ital@1&display=swap');

.prof-view {
    font-family: 'Sansita', sans-serif; 
}
.profile {
    display: flex;
    flex-direction: column;
}
.prof-title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    border-bottom: 1rem #219ebc solid;
    padding: 20px;

}
.follow {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.regimen-col {
    padding: 20px;
}
#about-me {
    display: flex;
    flex-direction: column;
    border-top: 1rem #219ebc solid;
    font-family: 'Sansita', sans-serif; 
}
.about-text {
    font-size: 20px;
}

#user-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Sansita', sans-serif; 
    padding: 20px;
}

.goal-modal {
    padding: 25px;
}
.dropdown {
    padding: 10px;
    color: white;
    background-color: gray;
    border-radius: 5px;
}
/* #regiment-div {
    border-top: 1rem #219ebc solid;
    background-color: #062337;
    color: white;
    border-radius: 2%;
}  */